.imcTable {
    text-transform: uppercase;
    border-collapse: collapse;
    margin: 0 auto;
}

.imcTable__cell {
    padding: 8px;
    border: 1px solid var(--greyDark);
}

.imcTable__header {
    font-weight: bold;
    background-color: var(--blueDark);
    color: var(--textLight);
}

.imcTable__body {
    background-color: var(--blueLight);
}

@media screen and (max-width: 321px) {
    .imcTable {
        font-size: 14px;
    }
    .imcTable__cell {
        padding: 8px 4px;
    }
}