.icmInfo {
    width: 80%;
    margin: 16px auto 0;
}

.imcInfo__title {
    font-size: 44px;
    border-bottom: 1px dashed var(--blackPrimary);
}

.imcInfo__article {
    font-size: 20px;
    text-align: justify;
}

.imcInfo__article__p {
    margin: 12px 0;
}
