.header {
    text-align: center;
    margin: 0 auto;
    border-bottom: 5px dashed var(--blackPrimary);
}
.title {
    margin: 24px 0 12px;
}
.subtitle {
    margin-bottom: 24px;
}
.disclaimer {
    color: var(--blackPrimary);
    font-size: 12px;
    margin-bottom: 6px;
}