* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    background-color: var(--greyLight);
}

.body-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 768px) {
    .body-grid {
        display: block;
    }
}
@media screen and (max-width: 426px) {
    .body-grid {
        width: 95%;
        margin: 0 auto;
    }
}


/* Classes para classificação IMC */
.normal {
    background-color: #99cc33;
}
.caution {
    background-color: #ffcc00;
}
.danger {
    background-color: #ff9966;
}
.emergency {
    background-color: #cc3300;
}
/* Classes para classificação IMC */

/* Variables */
:root {
    --blackPrimary: #000;
    --blueDark: #576CBC;
    --blueLight: #DAF5FF;
    --textLight: #f0f8ff;
    --greyLight: #999;
    --greyDark: #555;
    --btnColorPrimary: #27E1C1;
    --btnColorSecondary: #B0DAFF;
}